html, body {
  width: 100%;
  height: 100%;
}
/* Will Mehler 2023 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #160918;
  background: linear-gradient(to top left,  #1e0226, #110115, #11080d);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  animation: pulse 3s ease-in-out infinite;
}

.fade-in {
  opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.star:nth-child(1) {
  animation-delay: 0.1s;
}

.star:nth-child(2) {
  animation-delay: 0.3s;
}

.star:nth-child(3) {
  animation-delay: 0.5s;
}
html {
  overflow-x: hidden
}
* {
  cursor: none;
}

.content h2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.content h2:hover {
  transition: opacity 0.3s ease-in-out;
}

.header, .footer {
  background-color: #303030;
  color: #fffefe;
  text-align: center;
  padding: 10px;
  opacity: 0.7;
  border-radius: 20px;
  box-shadow: 15px #000;
  font-size: 20px;
  margin: 15px;
}
.pfp {
  border-radius: 50%;
  width: 200px;
  height: auto;
  border: 5px solid white;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
  opacity: 1;
  object-fit: contain;
}

.pfp:hover {
  box-shadow: 0px 0px 40px 5px rgba(228, 228, 228, 0.5);
}
p {
  font-family: "Roboto Condensed", sans-serif;
}

.content {
  margin: 0 auto;
  width: 600px;
  overflow-wrap: break-word;
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5rem;
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
}

h1:hover {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to top right, #3737a1, #6315c8);
  color: white;
  box-shadow: 0px 0px 40px 5px rgba(228, 228, 228, 0.5);
}

.footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  margin-right: 20px;
}


.footer img {
  transition: transform 0.3s ease-in-out;
  filter: invert(1);
}

.footer img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  filter: invert(1);
}

@media only screen and (max-width: 600px) {
  .cursor {
    display: none;
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to top left, #314ff8, #c13cff, #ff7f50);
  pointer-events: none;
  z-index: 9999;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projects {
  display: flex;
  margin-top: 50px;
  font-family: "Roboto Condensed", sans-serif;
  gap: 30px;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects a {
  font-size: 28px;
  line-height: 1.5;
  color: #ffffffd8;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #333;
  opacity: 0.7;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.projects a:hover {
  background-image: linear-gradient(to bottom right, #0077c2, #2b008f, #19005e);
  color: #fff;
  box-shadow: 0px 0px 40px 5px rgba(228, 228, 228, 0.5);
}
@media only screen and (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects a {
    margin: 10px;
    text-align: center;
  }
}
